@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* สีพื้นหลังของ body */
  color: #333333; /* สีตัวอักษร */
  line-height: 1.6; /* ความสูงของบรรทัด */
}

#root {
  max-width: 100%;
  margin: 0 auto; /* จัดกลาง */
  padding: 0;
  background-color: #ffffff; /* พื้นหลังของ root */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เงาของ root */
  border-radius: 8px; /* ขอบโค้งมนของ root */
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff; /* สีหัวข้อ */
  margin-bottom: 1rem; /* ระยะห่างด้านล่างของหัวข้อ */
}

p {
  margin-bottom: 1.5rem; /* ระยะห่างระหว่างย่อหน้า */
  font-size: 1rem; /* ขนาดฟอนต์ของย่อหน้า */
}

a {
  color: #007bff; /* สีลิงก์ */
  text-decoration: none; /* ลบการขีดเส้นใต้ */
}



button {
  background-color: #007bff; /* สีพื้นหลังของปุ่ม */
  color: #ffffff; /* สีข้อความในปุ่ม */
  padding: 10px 20px; /* Padding ของปุ่ม */
  border: none;
  border-radius: 5px; /* ขอบโค้งมนของปุ่ม */
  cursor: pointer; /* เคอร์เซอร์เป็นมือเมื่อ Hover */
}

button:hover {
  background-color: #0056b3; /* สีพื้นหลังของปุ่มเมื่อ Hover */
}
